In [13]:
# 11 Write a Pandas program to create and display a DataFrame from the following dictionary data and labels

import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X']

df = pd.DataFrame(exam_data , index=labels)
print(df)

           name  score  attempts qualify
I     Anastasia   12.5         1     yes
II         Dima    9.0         3      no
III   Katherine   16.5         2     yes
IV        James    NaN         3      no
V         Emily    9.0         2      no
VI      Michael   20.0         3     yes
VII     Matthew   14.5         1     yes
VIII      Laura    NaN         1      no
IX        Kevin    8.0         2      no
X         Jonas   19.0         1     yes

In [14]:
# 12 Write a Pandas program to get the first 5 rows of the DataFrame created in Q11.

print("\nFirst 5 rows of the said DataFrame':")
df1 = df.head(5)
print(df1)

First 5 rows of the said DataFrame':
          name  score  attempts qualify
I    Anastasia   12.5         1     yes
II        Dima    9.0         3      no
III  Katherine   16.5         2     yes
IV       James    NaN         3      no
V        Emily    9.0         2      no

In [15]:
# 13 Write a Pandas program to select the 'name' and 'score' columns of the DataFrame created in Q11.

print("Select specific columns:")
print(df[['name', 'score']])

Select specific columns:
           name  score
I     Anastasia   12.5
II         Dima    9.0
III   Katherine   16.5
IV        James    NaN
V         Emily    9.0
VI      Michael   20.0
VII     Matthew   14.5
VIII      Laura    NaN
IX        Kevin    8.0
X         Jonas   19.0

In [16]:
# 14 Write a Pandas program to select 'name' and 'score' columns in row indexes 3, 5, 6, 8 from the DataFrame created in Q11

print("Select specific columns and rows:")
print(df.iloc[[3, 5, 6, 8], [0, 1]])

Select specific columns and rows:
        name  score
IV     James    NaN
VI   Michael   20.0
VII  Matthew   14.5
IX     Kevin    8.0

In [17]:
# 15 Write a Pandas program to select the rows where the score is between 15 and 20 (inclusive) from the DataFrame created in Q11

print("Rows where score between 15 and 20 (inclusive):")
print(df[df['score'].between(15, 20)])

Rows where score between 15 and 20 (inclusive):
          name  score  attempts qualify
III  Katherine   16.5         2     yes
VI     Michael   20.0         3     yes
X        Jonas   19.0         1     yes